/* white */
$color-white-pure: #fff;

/* black */
$color-black-pure: #000;
$color-black-main: #666;
$color-black-sub: #888;
$color-black-des: #999;
$color-black-bc: #BCBCBC;

/* main */
$color-main-red: #D84023;
$color-red-main: #D84023;
$color-main-blue: #4A90E2;
