/*
 * 页面主题css
 * 该文件内所有css类需要以 'theme-' 开头
 * 命名格式：
 * .theme-一级分类-二级分类
 * 例如，主标题：
 * .theme-title-main
 * 样式中不能包含例如：margin, position 之类会影响页面布局的css属性
 * 这些属性交由实际 dom 使用这自行设置
 */

/* title 字体 */

    /******** theme2 style ********/
    html {
        font-size: 625%;
    }

    body {
        font-size: 14px;
    }
    /* h5 */
    .theme-text-title-l-h5{
        font-family: PingFangSC-Regular;
        font-size: 0.18rem;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 0.25rem;
    }
    .theme-text-title-m-h5{
        font-family: PingFangSC-Semibold;
        font-size: 0.16rem;
        color: #333333;
        line-height: 0.225rem;
    }
    .theme-text-title-s1-h5{
        font-family: PingFangSC-Regular;
        font-size: 0.14rem;
        color: #666666;
        line-height: 0.2rem;
    }
    .theme-text-title-s2-h5{
        font-family: PingFangSC-Semibold;
        font-size: 0.14rem;
        color: #666666;
        line-height: 0.2rem;
    }
    .theme-text-title-xs1-h5{
        font-family: PingFangSC-Light;
        font-size: 0.1rem;
        color: #666666;
        line-height: 0.14rem
    }
    .theme-text-title-xs2-h5{
        font-family: PingFangSC-Light;
        font-size: 0.1rem;
        color: #333333;
        letter-spacing: 0;
        line-height: 0.1rem
    }
    .theme-text-title-xs2-red-h5{
        font-family: PingFangSC-Light;
        font-size: 0.1rem;
        color: #D3361C;
        letter-spacing: 0;
        line-height: 0.1rem
    }
    .theme-text-main-xl-h5{
        font-family: Arial-BoldItalicMT;
        font-size: 0.32rem;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 0.37rem;
    }
    
    .theme-text-main-l-h5{
        font-family: PingFangSC-Regular;
        font-size: 0.18rem;
        color: #D84023;
        line-height: 0.25rem;
    }

    .theme-text-main-s1-h5{
        font-family: PingFangSC-Regular;
        font-size: 0.12rem;
        color: #666666;
        line-height: 0.165rem;
    }
    .theme-text-main-s2-h5{
        font-family: PingFangSC-Regular;
        font-size: 0.12rem;
        color: #999999;
        line-height: 0.165rem;
    }
    .theme-text-main-xs1-h5{
        font-family: PingFangSC-Light;
        font-size: 0.1rem;
        color: #999999;
        line-height: 0.14rem;
    }
    .theme-text-main-xs2-h5{
        font-family: PingFangSC-Regular;
        font-size: 0.1rem;
        color: #2A2A2A;
        line-height: 0.25rem;
    }

    /* h5 */
    .theme-icon-loan-red{
        width:0.168rem;
        height:0.24rem;
        background: url(./img/loan-red.png) no-repeat;
        background-size: 0.168rem  0.24rem;
    }
    .theme-icon-red-circle{
        width:0.16rem;
        height:0.16rem;
        background: url(./img/red-circle.png);
        background-size: 0.16rem 0.16rem;
    }
    .theme-icon-grey-circle{
        width:0.16rem;
        height:0.16rem;
        background: url(./img/grey-circle.png);
        background-size: 0.16rem 0.16rem;
    }
    .theme-icon-fin-review{
        width:0.24rem;
        height:0.192rem;
        background: url(./img/fin-review.png);
        background-size: 0.24rem 0.192rem;
    }
    .theme-icon-down-arc{
        width:1.3rem;
        height:0.6rem;
        background: url(./img/down-arc.png);
        background-size: 1.3rem 0.6rem;
    }
    .theme-icon-up-arc{
        width:1.3rem;
        height:0.6rem;
        background: url(./img/up-arc.png);
        background-size: 1.3rem 0.6rem;
    }
    .theme-icon-core-identify{
        width:0.24rem;
        height:0.216rem;
        background: url(./img/core-identify.png);
        background-size: 0.24rem 0.216rem;
    }
    .theme-icon-apply-white{
        width:0.21rem;
        height:0.24rem;
        background: url(./img/apply-white.png);
        background-size: 0.21rem 0.24rem;
    }
    .theme-icon-done-red{
        width:0.53rem;
        height:0.677rem;
        background: url(./img/done-red.png);
        background-size: 0.53rem 0.677rem;
    }
    .theme-icon-whole-select-down{
        width:0.19rem;
        height:0.26rem;
        background: url(./img/whole-select-down.png);
        background-size: 0.19rem 0.26rem;
    }
    .theme-icon-select-down-bg{
        width:0.19rem;
        height:0.26rem;
        background: url(./img/select-down-bg.png);
        background-size: 0.19rem 0.26rem;
    }
    .theme-icon-select-down-arrow{
        width:0.113rem;
        height:0.113rem;
        background: url(./img/select-down-arrow.jpg);
        background-size: 0.113rem 0.113rem;
    }
    .theme-icon-step-grey{
        width:0.478rem;
        height:0.54rem;
        background: url(./img/step-grey.png);
        background-size: 0.478rem 0.54rem;
    }
    .theme-icon-slant-line-grey{
        width:0.42rem;
        height:0.8rem;
        background: url(./img/slant-line-grey.png);
        background-size: 0.42rem 0.8rem;
    }
    .theme-icon-slant-line-red{
        width:0.42rem;
        height:0.8rem;
        background: url(./img/slant-line-red.png);
        background-size: 0.42rem 0.8rem;
    }
    .theme-icon-question-grey{
        width:0.16rem;
        height:0.16rem;
        background: url(./img/question-grey.png);
        background-size: 0.16rem 0.16rem;
    }
    .theme-icon-question-red{
        width:0.16rem;
        height:0.16rem;
        background: url(./img/question-red.png);
        background-size: 0.16rem 0.16rem;
    }
    .theme-icon-payment2x-white{
        width:0.24rem;
        height:0.24rem;
        background: url(./img/payment2x-white.png);
        background-size: 0.24rem 0.24rem;
    }
    .theme-icon-payment2x-red{
        width:0.24rem;
        height:0.24rem;
        background: url(./img/payment2x-red.png);
        background-size: 0.24rem 0.24rem;
    }
    .theme-icon-solgan2x{
        width:2.29rem;
        height:0.36rem;
        background: url(./img/solgan2x.png);
        background-size: 2.29rem 0.36rem;
    }
    .theme-icon-logo2x-yellow{
        width:1.03rem;
        height:0.37rem;
        background: url(./img/logo2x-yellow.png);
        background-size: 1.03rem 0.37rem;
    }
    .theme-icon-logo2x-white{
        width:1.52rem;
        height:0.56rem;
        background: url(./img/logo2x-white.png);
        background-size: 1.52rem 0.56rem;
    }
    .theme-icon-calendar2x-red{
        width:0.16rem;
        height:0.16rem;
        background: url(./img/date-red.png);
        background-size: 0.16rem 0.16rem;
    }
    .theme-icon-calendar2x-grey{
        width:0.16rem;
        height:0.16rem;
        background: url(./img/date-grey.png);
        background-size: 0.16rem 0.16rem;
    }
    .theme-icon-tel2x-black{
        width:0.12rem;
        height:0.12rem;
        background: url(./img/tel2x-black.png);
        background-size: 0.12rem 0.12rem;
    }
    .theme-icon-tel2x-white{
        width:0.12rem;
        height:0.12rem;
        background: url(./img/tel2x-white.png);
        background-size: 0.12rem 0.12rem;
    }
    .theme-icon-tab2x-white{
        width:1.66rem;
        height:0.28rem;
        background: url(./img/tab2x-white.png);
        background-size: 1.66rem 0.28rem;
    }
    .theme-icon-tab2x-red{
        width:1.66rem;
        height:0.28rem;
        background: url(./img/tab2x-red.png);
        background-size: 1.66rem 0.28rem;
    }
    .theme-icon-address2x-black{
        width:0.1rem;
        height:0.14rem;
        background: url(./img/address2x-black.png);
        background-size: 0.1rem 0.14rem;
    }
    .theme-icon-arrow2x-white{
        width:0.07rem;
        height:0.14rem;
        background: url(./img/arrow2x-white.png);
        background-size: 0.07rem 0.14rem;
    }
    .theme-icon-upload-red{
        width:0.16rem;
        height:0.16rem;
        background: url(./img/upload-red.png);
        background-size: 0.16rem 0.16rem;
    }
    .theme-icon-upload-white{
        width:0.16rem;
        height:0.16rem;
        background: url(./img/upload-white.png);
        background-size: 0.16rem 0.16rem;
    }
    .theme-icon-close2x-red{
        width:0.3rem;
        height:0.3rem;
        background: url(./img/close2x-red.png);
        background-size: 0.3rem 0.3rem;
    }
    .theme-icon-credit2x-white{
        width:0.24rem;
        height:0.24rem;
        background: url(./img/credit2x-white.png);
        background-size: 0.24rem 0.24rem;
    }
    .theme-icon-credit2x-red{
        width:0.24rem;
        height:0.24rem;
        background: url(./img/credit2x-red.png);
        background-size: 0.24rem 0.24rem;
    }
    .theme-icon-custom-service2x{
        width:0.12rem;
        height:0.12rem;
        background: url(./img/custom-service2x.png);
        background-size: 0.12rem 0.12rem;
    }
    .theme-icon-down-arrow-grey{
        width:0.286rem;
        height:0.339rem;
        background: url(./img/down-arrow-grey.png);
        background-size: 0.286rem 0.339rem;
    }
    .theme-icon-email2x-black{
        width:0.14rem;
        height:0.11rem;
        background: url(./img/email2x-black.png);
        background-size: 0.14rem 0.11rem;
    }
    .theme-icon-financing2x-red{
        width:0.24rem;
        height:0.24rem;
        background: url(./img/financing2x-red.png);
        background-size: 0.24rem 0.24rem;
    }
    .theme-icon-financing-white{
        width:0.24rem;
        height:0.24rem;
        background: url(./img/financing-white.png);
        background-size: 0.24rem 0.24rem;
    }






    .theme-text-title-l{
        font-family: FZLTZHK--GBK1-0;
        font-size: 0.24rem;
        color: #FFFFFF;
        line-height: 0.34rem;
    }  
    .theme-text-title-m{
        font-family: PingFangSC-Regular;
        font-size: 0.16rem;
        color: #333333;
        line-height: 0.22rem;
    }
    .theme-text-title-s{
        font-family: PingFangSC-Medium;
        font-size: 0.16rem;
        color: #666666;
        line-height: 0.22rem;
    }
    .theme-text-title-xs{
        font-family: PingFangSC-Regular;
        font-size: 0.14rem;
        color: #C3C3C3;
        line-height: 0.2rem;
    }
    .theme-text-label-l{
        font-family: PingFangSC-Regular;
        font-size: 0.14rem;
        color: #666666;
        line-height: 0.2rem;
    }
    .theme-text-label-m{
        
    }
    .theme-text-label-s{
        
    }
    .theme-text-link-l{
        font-family: PingFangSC-Regular;
        font-size: 0.16rem;
        color: #FFFFFF;
        line-height: 0.22rem;
    }
    .theme-text-link-m{
        font-family: PingFangSC-Regular;
        font-size: 0.12rem;
        color: #666666;
        line-height: 0.17rem;
    }
    .theme-text-link-s{
        font-family: PingFangSC-Regular;
        font-size: 0.12rem;
        color: #4A90E2;
        line-height: 0.17rem;
    }
    .theme-text-deco-red{
        color: #D84023;
    }
    .theme-text-deco-white{
        color:#FFFFFF;
    }
    .theme-text-deco-grey1{
        color:#666666;
    }
    .theme-text-deco-grey2{
        color:#C3C3C3;
    }
    .theme-text-deco-grey3{
        color:#BCBCBC;
    }
    .theme-text-deco-grey4{
        color:#888888;
    }
    .theme-text-deco-grey5{
        color: #999999;
    }
    
    .theme-text-deco-black1{
        color:#333333;
    }
    .theme-text-deco-black2{
        color:#151515;
    }
    .theme-text-deco-black3{
        color: #2A2A2A;
    }

    .theme-btn-info{
        background: rgba(255,255,255,0.10);
        border: 0.01rem solid #666666;
        border-radius: 0.51rem;
        width: 2.6rem;
        height:0.6rem;
    }
    .theme-btn-deco-radius-30{
        border-radius:0.3rem;
    }
    .theme-btn-deco-radius-20{
        border-radius:0.2rem;
    }
    .theme-btn-deco-radius-10{
        border-radius:0.1rem;
    }
    .theme-btn-default-s-red{
        width:0.8rem;
        height: 0.34rem;
        background: #D84023;
        box-shadow: 0 0.01rem 0.02rem 0 #C3C3C3;
        border-radius: 0.2rem;
    }
    .theme-btn-default-s-white{
        width:0.8rem;
        height: 0.34rem;
        background: #FFFFFF;
        box-shadow: 0 0.01rem 0.02rem 0 #C3C3C3;
        border-radius: 0.2rem;
        border:0.01rem solid #D3361C;
    }
    .theme-btn-default-s-grey{
        width:0.8rem;
        height: 0.34rem;
        background: #F5F5F5;
        border: 0.01rem solid #D8D8D8;
        box-shadow: 0 0.01rem 0.02rem 0 #C3C3C3;
        border-radius: 0.2rem;
    }
    .theme-btn-default-m{
        width:1.46rem;
        height: 0.34rem;
        border:0.01rem solid #D3361C;
        background-image: linear-gradient(90deg, #EB663C 0%, #D3361C 100%);
        box-shadow: 0 0.01rem 0.02rem 0 #C3C3C3;
        border-radius: 0.2rem;
    }
    .theme-btn-default-l-red{
        width:2.2rem;
        height: 0.46rem;
        background-image: linear-gradient(90deg, #EB663C 0%, #D3361C 100%);
        box-shadow: 0 0.02rem 0.04rem 0 rgba(0,0,0,0.50);
        border-radius: 0.3rem;
    }
    .theme-btn-default-l-white{
        width:2.2rem;
        height: 0.46rem;
        background: rgba(255,255,255,0.00);
        box-shadow: 0 0.02rem 0.04rem 0 rgba(0,0,0,0.50);
        border-radius: 0.3rem;
        border:0.01rem solid #D3361C;
    }
    .theme-btn-primary{
        height:0.28rem;
        width: 1.2rem;
        background: rgba(255,255,255,0.20);
        box-shadow: 0 0.01rem 0.02rem 0 #C3C3C3;
        border-radius: 0.2rem;
        border:0.01rem solid #D3361C;
    }
    .theme-btn-secondary{
        box-shadow: 0 0.01rem 0.02rem 0 #C3C3C3;
        border:0.01rem solid #D3361C;
        height:0.34rem;
        width: 1.46rem;
        border-radius: 0.2rem;
    }

    .theme-border-around1{
        background: rgba(255,255,255,0.20);
        border: 0.01rem solid #FFFFFF;
        box-shadow: 0 0.01rem 0.02rem 0 #C3C3C3;
        border-radius: 0.2rem;
    }
    .theme-border-around3{
        border: 0.01rem solid #D8D8D8;
        border-radius: 0.1rem;
        outline: none;
    }
    .theme-border-around2{
        border: 0.01rem solid #D8D8D8;
        border-radius: 0.2rem;
    }
    .theme-border-around4{
        border: 0.01rem solid #999999;
        box-shadow: 0 0.01rem 0.03rem 0 rgba(210,210,210,0.36);
        border-radius: 0.2rem;
        outline: none;
    }
    .theme-border-around5{
        background: #FFFFFF;
        border: 0.01rem solid #E7E7E7;
        box-shadow: 0 0.01rem 0.03rem 0 rgba(210,210,210,0.36);
        border-radius: 0.2rem;
        outline: none;
    }
    .theme-border-around6{
        background: rgba(255,255,255,0.10);
        box-shadow: 0 0.01rem 0.03rem 0 rgba(210,210,210,0.36);
        border-radius: 0.2rem;
        border:0.01rem solid #D3361C ;
        outline: none;
    }
    .theme-border-bottm1{
        border-bottom:0.01rem solid #EEEEEE;
    }
    .theme-border-bottm2{
        border-bottom:0.02rem solid #EEEEEE;
    }
    .theme-border-left{
        width: 0.04rem;
        height:0.18rem;
        background-image: linear-gradient(-90deg, #EB663C 0%, #D3361C 100%);
        display: inline-block;
    }
    .theme-border-right{
        width: 0.01rem;
        height:0.22rem;
        background: #D8D8D8;
        display: inline-block;
    }


.theme-input-form-readonly {
    padding: 5px 15px;
    font-size: 12px;
    color: #666;
}

.theme-input-form-readonly-with-deco {
    padding: 5px 15px;
    font-size: 12px;
    color: #666;
    border: 1px solid #F5F5F5;
    background: #F5F5F5;
    border-radius: 20px;
}





html {
    font-size: 625%;
}

body {
    font-size: 14px;
}
.theme-icon-loan-red{
    width:0.168rem;
    height:0.24rem;
    background: url(./img/loan-red.png) no-repeat;
    background-size: 0.168rem  0.24rem;
}
.theme-icon-red-circle{
    width:0.16rem;
    height:0.16rem;
    background: url(./img/red-circle.png);
    background-size: 0.16rem 0.16rem;
}
.theme-icon-grey-circle{
    width:0.16rem;
    height:0.16rem;
    background: url(./img/grey-circle.png);
    background-size: 0.16rem 0.16rem;
}
.theme-icon-fin-review{
    width:0.24rem;
    height:0.192rem;
    background: url(./img/fin-review.png);
    background-size: 0.24rem 0.192rem;
}
.theme-icon-down-arc{
    width:1.3rem;
    height:0.6rem;
    background: url(./img/down-arc.png);
    background-size: 1.3rem 0.6rem;
}
.theme-icon-up-arc{
    width:1.3rem;
    height:0.6rem;
    background: url(./img/up-arc.png);
    background-size: 1.3rem 0.6rem;
}
.theme-icon-core-identify{
    width:0.24rem;
    height:0.216rem;
    background: url(./img/core-identify.png);
    background-size: 0.24rem 0.216rem;
}
.theme-icon-apply-white{
    width:0.21rem;
    height:0.24rem;
    background: url(./img/apply-white.png);
    background-size: 0.21rem 0.24rem;
}
.theme-icon-done-red{
    width:0.53rem;
    height:0.677rem;
    background: url(./img/done-red.png);
    background-size: 0.53rem 0.677rem;
}
.theme-icon-whole-select-down{
    width:0.19rem;
    height:0.26rem;
    background: url(./img/whole-select-down.png);
    background-size: 0.19rem 0.26rem;
}
.theme-icon-select-down-bg{
    width:0.19rem;
    height:0.26rem;
    background: url(./img/select-down-bg.png);
    background-size: 0.19rem 0.26rem;
}
.theme-icon-select-down-arrow{
    width:0.113rem;
    height:0.113rem;
    background: url(./img/select-down-arrow.jpg);
    background-size: 0.113rem 0.113rem;
}
.theme-icon-step-grey{
    width:0.478rem;
    height:0.54rem;
    background: url(./img/step-grey.png);
    background-size: 0.478rem 0.54rem;
}
.theme-icon-slant-line-grey{
    width:0.42rem;
    height:0.8rem;
    background: url(./img/slant-line-grey.png);
    background-size: 0.42rem 0.8rem;
}
.theme-icon-slant-line-red{
    width:0.42rem;
    height:0.8rem;
    background: url(./img/slant-line-red.png);
    background-size: 0.42rem 0.8rem;
}
.theme-icon-question-grey{
    width:0.16rem;
    height:0.16rem;
    background: url(./img/question-grey.png);
    background-size: 0.16rem 0.16rem;
}
.theme-icon-question-red{
    width:0.16rem;
    height:0.16rem;
    background: url(./img/question-red.png);
    background-size: 0.16rem 0.16rem;
}
.theme-icon-payment2x-white{
    width:0.24rem;
    height:0.24rem;
    background: url(./img/payment2x-white.png);
    background-size: 0.24rem 0.24rem;
}
.theme-icon-payment2x-red{
    width:0.24rem;
    height:0.24rem;
    background: url(./img/payment2x-red.png);
    background-size: 0.24rem 0.24rem;
}
.theme-icon-solgan2x{
    width:2.29rem;
    height:0.36rem;
    background: url(./img/solgan2x.png);
    background-size: 2.29rem 0.36rem;
}
.theme-icon-logo2x-yellow{
    width:1.03rem;
    height:0.37rem;
    background: url(./img/logo2x-yellow.png);
    background-size: 1.03rem 0.37rem;
}
.theme-icon-logo2x-white{
    width:1.52rem;
    height:0.56rem;
    background: url(./img/logo2x-white.png);
    background-size: 1.52rem 0.56rem;
}
.theme-icon-calendar2x-red{
    width:0.16rem;
    height:0.16rem;
    background: url(./img/date-red.png);
    background-size: 0.16rem 0.16rem;
}
.theme-icon-calendar2x-grey{
    width:0.16rem;
    height:0.16rem;
    background: url(./img/date-grey.png);
    background-size: 0.16rem 0.16rem;
}
.theme-icon-tel2x-black{
    width:0.12rem;
    height:0.12rem;
    background: url(./img/tel2x-black.png);
    background-size: 0.12rem 0.12rem;
}
.theme-icon-tel2x-white{
    width:0.12rem;
    height:0.12rem;
    background: url(./img/tel2x-white.png);
    background-size: 0.12rem 0.12rem;
}
.theme-icon-tab2x-white{
    width:1.66rem;
    height:0.28rem;
    background: url(./img/tab2x-white.png);
    background-size: 1.66rem 0.28rem;
}
.theme-icon-tab2x-red{
    width:1.66rem;
    height:0.28rem;
    background: url(./img/tab2x-red.png);
    background-size: 1.66rem 0.28rem;
}
.theme-icon-address2x-black{
    width:0.1rem;
    height:0.14rem;
    background: url(./img/address2x-black.png);
    background-size: 0.1rem 0.14rem;
}
.theme-icon-arrow2x-white{
    width:0.07rem;
    height:0.14rem;
    background: url(./img/arrow2x-white.png);
    background-size: 0.07rem 0.14rem;
}
.theme-icon-upload-red{
    width:0.16rem;
    height:0.16rem;
    background: url(./img/upload-red.png);
    background-size: 0.16rem 0.16rem;
}
.theme-icon-upload-white{
    width:0.16rem;
    height:0.16rem;
    background: url(./img/upload-white.png);
    background-size: 0.16rem 0.16rem;
}
.theme-icon-close2x-red{
    width:0.3rem;
    height:0.3rem;
    background: url(./img/close2x-red.png);
    background-size: 0.3rem 0.3rem;
}
.theme-icon-credit2x-white{
    width:0.24rem;
    height:0.24rem;
    background: url(./img/credit2x-white.png);
    background-size: 0.24rem 0.24rem;
}
.theme-icon-credit2x-red{
    width:0.24rem;
    height:0.24rem;
    background: url(./img/credit2x-red.png);
    background-size: 0.24rem 0.24rem;
}
.theme-icon-custom-service2x{
    width:0.12rem;
    height:0.12rem;
    background: url(./img/custom-service2x.png);
    background-size: 0.12rem 0.12rem;
}
.theme-icon-down-arrow-grey{
    width:0.286rem;
    height:0.339rem;
    background: url(./img/down-arrow-grey.png);
    background-size: 0.286rem 0.339rem;
}
.theme-icon-email2x-black{
    width:0.14rem;
    height:0.11rem;
    background: url(./img/email2x-black.png);
    background-size: 0.14rem 0.11rem;
}
.theme-icon-financing2x-red{
    width:0.24rem;
    height:0.24rem;
    background: url(./img/financing2x-red.png);
    background-size: 0.24rem 0.24rem;
}
.theme-icon-financing-white{
    width:0.24rem;
    height:0.24rem;
    background: url(./img/financing-white.png);
    background-size: 0.24rem 0.24rem;
}






.theme-text-title-l{
    font-family: FZLTZHK--GBK1-0;
    font-size: 0.24rem;
    color: #FFFFFF;
    line-height: 0.34rem;
}
.theme-text-title-m{
    font-family: PingFangSC-Regular;
    font-size: 0.16rem;
    color: #333333;
    line-height: 0.22rem;
}
.theme-text-title-s{
    font-family: PingFangSC-Medium;
    font-size: 0.16rem;
    color: #666666;
    line-height: 0.22rem;
}
.theme-text-title-xs{
    font-family: PingFangSC-Regular;
    font-size: 0.14rem;
    color: #C3C3C3;
    line-height: 0.2rem;
}
.theme-text-label-l{
    font-family: PingFangSC-Regular;
    font-size: 0.14rem;
    color: #666666;
}
.theme-text-label-m{

}
.theme-text-label-s{

}
.theme-text-link-l{
    font-family: PingFangSC-Regular;
    font-size: 0.16rem;
    color: #FFFFFF;
    line-height: 0.22rem;
}
.theme-text-link-m{
    font-family: PingFangSC-Regular;
    font-size: 0.12rem;
    color: #666666;
    line-height: 0.17rem;
}
.theme-text-link-s{
    font-family: PingFangSC-Regular;
    font-size: 0.12rem;
    color: #4A90E2;
    line-height: 0.17rem;
}
.theme-text-deco-red{
    color: #D84023;
}
.theme-text-deco-white{
    color:#FFFFFF;
}
.theme-text-deco-grey1{
    color:#666666;
}
.theme-text-deco-grey2{
    color:#C3C3C3;
}
.theme-text-deco-grey3{
    color:#BCBCBC;
}
.theme-text-deco-grey4{
    color:#888888;
}
.theme-text-deco-grey5{
    color: #999999;
}

.theme-text-deco-black1{
    color:#333333;
}
.theme-text-deco-black2{
    color:#151515;
}
.theme-text-deco-black3{
    color: #2A2A2A;
}

.theme-btn-info{
    background: rgba(255,255,255,0.10);
    border: 0.01rem solid #666666;
    border-radius: 0.51rem;
    width: 2.6rem;
    height:0.6rem;
}
.theme-btn-deco-radius-30{
    border-radius:0.3rem;
}
.theme-btn-deco-radius-20{
    border-radius:0.2rem;
}
.theme-btn-deco-radius-10{
    border-radius:0.1rem;
}
.theme-btn-default-s-red{
    width:0.8rem;
    height: 0.34rem;
    background: #D84023;
    box-shadow: 0 0.01rem 0.02rem 0 #C3C3C3;
    border-radius: 0.2rem;
}
.theme-btn-default-s-white{
    width:0.8rem;
    height: 0.34rem;
    background: #FFFFFF;
    box-shadow: 0 0.01rem 0.02rem 0 #C3C3C3;
    border-radius: 0.2rem;
    border:0.01rem solid #D3361C;
}
.theme-btn-default-s-grey{
    width:0.8rem;
    height: 0.34rem;
    background: #F5F5F5;
    border: 0.01rem solid #D8D8D8;
    box-shadow: 0 0.01rem 0.02rem 0 #C3C3C3;
    border-radius: 0.2rem;
}
.theme-btn-default-m{
    width:1.46rem;
    height: 0.34rem;
    border:0.01rem solid #D3361C;
    background-image: linear-gradient(90deg, #EB663C 0%, #D3361C 100%);
    box-shadow: 0 0.01rem 0.02rem 0 #C3C3C3;
    border-radius: 0.2rem;
}
.theme-btn-default-l-red{
    width:2.2rem;
    height: 0.46rem;
    background-image: linear-gradient(90deg, #EB663C 0%, #D3361C 100%);
    box-shadow: 0 0.02rem 0.04rem 0 rgba(0,0,0,0.50);
    border-radius: 0.3rem;
}
.theme-btn-default-l-white{
    width:2.2rem;
    height: 0.46rem;
    background: rgba(255,255,255,0.00);
    box-shadow: 0 0.02rem 0.04rem 0 rgba(0,0,0,0.50);
    border-radius: 0.3rem;
    border:0.01rem solid #D3361C;
}
.theme-btn-primary{
    height:0.28rem;
    width: 1.2rem;
    background: rgba(255,255,255,0.20);
    box-shadow: 0 0.01rem 0.02rem 0 #C3C3C3;
    border-radius: 0.2rem;
    border:0.01rem solid #D3361C;
}
.theme-btn-secondary{
    box-shadow: 0 0.01rem 0.02rem 0 #C3C3C3;
    border:0.01rem solid #D3361C;
    height:0.34rem;
    width: 1.46rem;
    border-radius: 0.2rem;
}

.theme-border-around1{
    background: rgba(255,255,255,0.20);
    border: 0.01rem solid #FFFFFF;
    box-shadow: 0 0.01rem 0.02rem 0 #C3C3C3;
    border-radius: 0.2rem;
}
.theme-border-around3{
    border: 0.01rem solid #D8D8D8;
    border-radius: 0.1rem;
    outline: none;
}
.theme-border-around2{
    border: 0.01rem solid #D8D8D8;
    border-radius: 0.2rem;
}
.theme-border-around4{
    border: 0.01rem solid #999999;
    box-shadow: 0 0.01rem 0.03rem 0 rgba(210,210,210,0.36);
    border-radius: 0.2rem;
    outline: none;
}
.theme-border-around5{
    background: #FFFFFF;
    border: 0.01rem solid #E7E7E7;
    box-shadow: 0 0.01rem 0.03rem 0 rgba(210,210,210,0.36);
    border-radius: 0.2rem;
    outline: none;
}
.theme-border-around6{
    background: rgba(255,255,255,0.10);
    box-shadow: 0 0.01rem 0.03rem 0 rgba(210,210,210,0.36);
    border-radius: 0.2rem;
    border:0.01rem solid #D3361C ;
    outline: none;
}
.theme-border-bottm1{
    border-bottom:0.01rem solid #EEEEEE;
}
.theme-border-bottm2{
    border-bottom:0.02rem solid #EEEEEE;
}
.theme-border-left{
    width: 0.04rem;
    height:0.18rem;
    background-image: linear-gradient(-90deg, #EB663C 0%, #D3361C 100%);
    display: inline-block;
}
.theme-border-right{
    width: 0.01rem;
    height:0.22rem;
    background: #D8D8D8;
    display: inline-block;
}
.theme-border-top{
    width: 2.28rem;
    height:0.11rem;
    background-image: linear-gradient(270deg, #EB663C 0%, #D3361C 100%);
    border-radius: 0.2rem;
}
.theme-border-deco-red1{

    border-color:#D3361C;
}
.theme-border-deco-red2{
    border-color:#EB663C;
}
.theme-border-deco-grey1{
    border-color:#999999;
}
.theme-border-deco-grey2{
    border-color:#D8D8D8;
}
.theme-border-deco-width1{
    border-width:0.01rem;
}
.theme-border-deco-width1{
    border-width:0.02rem;
}


.schedule-icon {
    display: inline-block;
    width: .145rem;
    height: .17rem;
    background: url("./img/jindu.png") no-repeat center;
    background-size: .145rem .17rem;
    vertical-align: middle;
    margin-right: 9px;
}
.more-h5 {
    display: inline-block;
    width: .08rem;
    height: .14rem;
    background: url("./img/more-h5.png") no-repeat center;
    background-size: .08rem .14rem;
    vertical-align: middle;
    margin-left: .03rem;
}
.bg-line {
    background: url("./img/bj-line.jpg") no-repeat left -20px bottom;
    background-size: 2.4rem 1.6rem;
}
.liu-xing {
    background: url("./img/liuxing.jpg") no-repeat center ;
    background-size: 100% auto;
}
.tab-bg {
    background: url("./img/tab-bg.png") no-repeat left top;
    background-size: 100% auto;
}




/******** theme2 style ********/
* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}
.reset {
    font-weight: normal;
    font-size: 16px;
    color: #333;
}
a {
    text-decoration: none;
}
img {
    border: 0;
    outline: none;
}
ul {
    list-style: none;
}
.hr{
    width: 100%;
    border-bottom: 1px dashed #ddd;
}
.page {
    @include clearfix();
    .page-left {
        width: 200px;
        position: fixed;
        left: 0;
        top: 0;
        .left-top {
            padding: 15px 10px;
            font-size: 20px;
            font-weight: bold;

        }
    }
    .page-index {
        padding-top: 15px;
        margin-left: 250px;
    }
}
h3 {
    font-family: "Microsoft YaHei";
    color: midnightblue;
}
.title-inner div {
    margin: 15px 0;
}
.page-left ul li{
    a {
        display: block;
        width: 100%;
        color: #444;
        height: 40px;
        line-height: 40px;
    }
    &:hover a{
        color: #f60;
    }
}
.theme-bg-inner {
    @include clearfix();
    .bg-item {
        text-align: center;
        width: 200px;
        height: 120px;
        float: left;
        margin: 10px 10px;
        line-height: 40px;
        font-size: 14px;
    }
}
.color-des {
    margin-left: 80px;
}
.color-item {
    padding: 15px;
}
.btn-inner {
    .btn-pr {
        @include clearfix();
    }
    .btn-el {
        @include clearfix();
        .btn-item {
            float: left;
            margin: 10px 20px;
            height: 100px;
        }
    }
}

.btn-item {
    float: left;
    margin: 30px 20px;
    text-align: center;
    p {
        text-align: center;
        padding-top: 6px;
    }
}

.nav-ver {
    @include clearfix();
}

.hr-item{
    margin-bottom: 50px;
}

.border-item{
    margin: 10px 20px 20px 20px;
    span{
        padding-left: 30px;
    }
}


.icon-inner {
    padding-top: 20px;
    .icon-item {
        margin-bottom: 15px;
        overflow: hidden;
        i {
            float: left;
            margin-right: 20px;
        }
        span {
            line-height: 20px;
        }
    }
}
